.main-title {
  font-weight: bolder;
  font-family: 'Oswald', sans-serif;
  color: white;
  letter-spacing: 10px;
  margin: 0px 0px 10px 30px;
  padding: 0px;
}

.small-title {
  font-family: 'Oswald', sans-serif;
  color: black;
  text-align: center;
}

.medium-title {
  font-family: 'Oswald', sans-serif;
  color: black;
  margin-bottom:15px;
}
